/* === Carrinho lateral com animação === */
.cart-container {
  position: fixed;
  top: 0;
  right: -350px;
  height: 100%;
  width: 350px;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.4s ease;
  z-index: 200;
  display: flex;
  flex-direction: column;
}


.cart-container.show {
  right: 0;
}

/* Conteúdo do carrinho */
.cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
}

.cart-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  flex-grow: 1;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #31e6b34b !important;
}

.remove-btn {
  border: none;
  background: transparent;
  color: #777;
  cursor: pointer;
  transition: color 0.2s;
}

.remove-btn:hover {
  color: #d33;
}

.empty {
  text-align: center;
  color: #999;
  margin-top: 30px;
}

/* === Badge do carrinho === */
.cart-container-button {
  position: relative;
}

.cart-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #20A37E;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 6px;
}
.cart-footer {
  position: sticky;
  bottom: 0;
  background: #fff;
  padding-top: 16px;
  border-top: 1px solid #ddd;
  margin-top: auto;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}

.cart-total-value {
  color: #20A37E; /* mesma cor da borda */
}

.finalize-btn {
  width: 100%;
  background-color: #20A37E;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.finalize-btn:hover {
  background-color: #188a69;
}
