/* Cor principal */
:root {
  --primary-color: #20A37E;
}

/* Sidebar principal */
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: white;
  color: #555; /* cor padrão do texto */
  padding: 20px;
  transition: width 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* separa menu e rodapé */
  align-items: center;
  border-right: 1px solid #eef0ee;
}

.sidebar:not(.open) {
  width: 70px;
}

/* Logo */
.logo-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logo {
  max-width: 120px;
  height: 120px;
  transition: all 0.3s;
}

.sidebar:not(.open) .logo {
  max-width: 50px;
  height: 50px;
}

/* Lista do menu */
.menu-list {
  flex: 9;
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu-list li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  text-align: left;
  color: #555;
}

.menu-list li .icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: #555; /* cor padrão do ícone */
}

.menu-list li:hover {
  background-color: rgba(32, 163, 126, 0.1); /* hover leve */
}

/* Item ativo */
.menu-list li.active {
  background-color: rgba(32, 163, 126, 0.15); /* fundo com opacidade 15% */
  color: var(--primary-color);
}

.menu-list li.active .icon svg {
  color: var(--primary-color);
}

/* Botão de toggle */
.toggle-btn {
  position: absolute;
  top: 45px;
  right: -25px;
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.2s, color 0.2s;
}

.toggle-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Rodapé com logout */
.sidebar-footer {
flex: 1;
  width: 100%;
  padding: 15px;
  text-align: left;
  border-top: 1px solid #eef0ee;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.2s, color 0.2s;
  color: #555;
}

.sidebar-footer .text {
  margin-left: 10px;
}

.sidebar-footer:hover {
  background-color: rgba(32, 163, 126, 0.15);
  color: var(--primary-color);
}

.sidebar-footer:hover svg {
  color: var(--primary-color);
}

/* Quando a sidebar estiver recolhida, esconda os textos */
.sidebar:not(.open) .menu-list li .text,
.sidebar:not(.open) .sidebar-footer .text {
  display: none;
}

.sidebar:not(.open) .menu-list li {
  justify-content: center;
}

.sidebar:not(.open) .sidebar-footer {
  justify-content: center;
}
